html {
  height: 100%;
  width: 100%;
  }

h1, p {
    text-align: center;
  }

 body {
   background-color: #F5F5F5;
  }

ul li {
  margin-bottom: 10px;
}

#reading_list li {
  margin-bottom: 10px;
}
