html {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  }

body {
   background-color: #F5F5F5;
 }

li {
  margin-bottom: 7.5px;
}


.accelerators {
  text-align: center; 
  padding-bottom: 50px;
  padding-top: 25px;
}

.accelerators a {
  margin-top: 25px;
  margin-bottom: -7px;
  display: block;
}

.homepage {
  text-align: center; 
}

.resources {
  text-align: center; 
}

.resources a {
  margin-top: 25px;
  margin-bottom: -7px;
  display: block;
}

.homepage a {
  margin-bottom: 10px;
  display: block;
}

#intro {
    padding-right: 300px;
    line-height: 1.5;
  }

.homebutton {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}


